FridgeService/GettingStartedClient/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFridge_GetFruitTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFruitTotal" />
  </wsdl:message>
  <wsdl:message name="IFridge_GetFruitTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFruitTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_AddFruit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFruit" />
  </wsdl:message>
  <wsdl:message name="IFridge_AddFruit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFruitResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_TakeFruit_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeFruit" />
  </wsdl:message>
  <wsdl:message name="IFridge_TakeFruit_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeFruitResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_FridgeContents_InputMessage">
    <wsdl:part name="parameters" element="tns:FridgeContents" />
  </wsdl:message>
  <wsdl:message name="IFridge_FridgeContents_OutputMessage">
    <wsdl:part name="parameters" element="tns:FridgeContentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFridge">
    <wsdl:operation name="GetFruitTotal">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/GetFruitTotal" message="tns:IFridge_GetFruitTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/GetFruitTotalResponse" message="tns:IFridge_GetFruitTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFruit">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/AddFruit" message="tns:IFridge_AddFruit_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/AddFruitResponse" message="tns:IFridge_AddFruit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeFruit">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/TakeFruit" message="tns:IFridge_TakeFruit_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/TakeFruitResponse" message="tns:IFridge_TakeFruit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FridgeContents">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/FridgeContents" message="tns:IFridge_FridgeContents_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/FridgeContentsResponse" message="tns:IFridge_FridgeContents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>